<p>page-not-found works!</p>


<div  class="container maincontainer">
	<div  class="row">
		<div  class="col-sm-7 boardermain">
			<input type="text" name=""  placeholder="I want to ....."  class="inpuboxxxx">
			<h4 class="Notes"> REMIND ME</h4>
			<div >
				<ul class="listdata">
					<li >
						<button type="button" class="buttonmargins buttonsradious">
							<img src="" id="CustomHTML-child-0cl0bv1pib2a" class="imageclass" um-tagid="a644-436c-b7bb-332835ae903a"> Later Today
							
							
						</button>
					</li>
					<li >
						<button type="button"  class="buttonmargins buttonsradious">
							<img src="" id="CustomHTML-child-9cn0blyiper" class="imageclass" um-tagid="994f-4041-affb-08355b95e115"> this evening
							
						</button>
					</li>
					<li >
						<button type="button" id="CustomHTML-child-zsu1yk7diqo" um-tagid="27ab-4e92-8580-f7a870d8d9a9" class="buttonsradious">
							<img src="" id="CustomHTML-child-byeklnll3nr" class="imageclass" um-tagid="0c84-48c8-b5f1-7e7a706bf0a8"> custome
							
						</button>
					</li>
				</ul>
			</div>
			<div >
				<ul class="listdata">
					<li>
						<button type="button"  class="buttonmargins buttonsradious">
                            <img src="" class="imageclass" > tomorrow
                            
							
						</button>
					</li>
					<li>
						<button type="button"  class="buttonmargins buttonsradious">
							<img src=""  class="imageclass" > next week
							
						</button>
					</li>
					<li>
						<button type="button" id="CustomHTML-child-gqozdqkdhbe" um-tagid="5e34-4fc0-a66b-6ea9ed5d6a2a" class="buttonsradious">
							<img src="" class="imageclass" > someday
							
						</button>
					</li>
				</ul>
			</div>
			<div  class="Notes">
				<h3>NOTES</h3>
				<input type="text" name=""  placeholder="insert Notes here"  class="inpuboxxxInsert">
			</div>
		</div>
		<div  class="col-sm-3">
			<h4 > ASSIGNED TO </h4>
			<h5  class="pargrapblue">GOPI KRISHNA</h5>
			<h4 >LIST</h4>
			<p  class="pargrapblue">Person</p>
			<h4 >TIME</h4>
			<p  class="pargrapblue">set time</p>
			<h4>TAGS</h4>
			<p  class="pargrapblue">add tag</p>
		</div>
	</div>
	<div  class="col-sm-12">
		<button  class="buttaddtast">Add Task</button>
	</div>
</div>
