<div class="container">
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a routerLink="/tollywiidartists">Tollywood Artists</a></li>
          <li><a routerLink="/ReactiveForms">Reactive Forms</a></li>
          <li><a routerLink="/TemplateDrivenFormsComponent">Template-driven Forms</a></li>
          <li><a routerLink="/NestedForm">Nested Form</a></li>
          <li><a routerLink="/moviesearch">Movie Search</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">Education Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/dropdown/school">School</a></li>
              <li><a routerLink="/dropdown/college">College</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">ng concept <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/ngconcept/ngif">Ng If and For</a></li>
              <li><a routerLink="/ngconcept/ngstyle">Ng style and Class</a></li>
              <li><a routerLink="/ngconcept/stringbind">Stringbind</a></li>
              <li><a routerLink="/ngconcept/Searchmore">Show-More</a></li>
            </ul>
          </li>
          <li><a routerLink="/leadinfo">Leadinfo Details</a></li>
          <li><a routerLink="/formsvalidations">Form Validations</a></li>
        </ul>
      </div>
    </div>
  </nav>

</div>
