<form class="col-sm-6 col-sm-offset-3" (ngSubmit)="onSubmitForm(f)" #f="ngForm">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" placeholder="Enter Your First Name" required
        [(ngModel)]="UserData.Firstname" #firstname="ngModel" name="Firstname">
      <p *ngIf="!firstname.valid && firstname.touched " class="error">Please Enter  the Firstname</p>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" placeholder="Enter Your Last Name"  [(ngModel)]="UserData.Lastname" required #last="ngModel" name="Lastname">
      <p *ngIf="!last.valid && last.touched" class="error">Please Enter your Last Name</p>
    </div>
     <div class="form-group">
      <label>Age</label>
      <input type="text" class="form-control" placeholder="Enter Your Age" name="age" required #Age="ngModel" [(ngModel)]="UserData.Age">
      <p *ngIf="!Age.valid && Age.touched">Please Enter Age</p>
    </div>
    <div class="form-group">
      <label>Gender</label>
      <select class="form-control"  placeholder="Select Your Gender" [(ngModel)]="UserData.Mgender" name="Gender" required #gender="ngModel">
        <option *ngFor="let gender of genders">{{gender}}</option>
      </select>
      <p *ngIf="!gender.valid && gender.touched">Please select Gender</p>
    </div>
    <div class="form-group">
      <label>Mobile No</label>
      <input type="number" class="form-control" placeholder="Enter Your Mobile Number" required [(ngModel)]="UserData.number"
        name="Mobile"  #Number="ngModel" >
        <p *ngIf="!Number.valid && Number.touched">Please select Gender</p>
    </div>
    <div class="form-group">
      <label>Father Name</label>
      <input type="text" class="form-control" placeholder="Enter Your Father Name" required [(ngModel)]="UserData.father" name="Father"  #father="ngModel">
      <p *ngIf="!father.valid && father.touched">Please Enter  Father Name</p>
    </div>
    <div class="form-group">
      <label>Mother Name</label>
      <input type="text" class="form-control" placeholder="Enter Your Mother" required [(ngModel)]="UserData.mother" name="mother"  #mothers="ngModel">
      <p *ngIf="!mothers.valid && mothers.touched">Please Enter your Mother name</p>
    </div>
    <div class="form-group">
      <label>Email Id</label>
      <input type="email" class="form-control"  pattern="^([a-zA-Z0-9_.-])+@([a-zA-Z0-9_.-])+\.([a-zA-Z])+([a-zA-Z])" placeholder="Enter Your Email ID" required [(ngModel)]="UserData.email" name="email" #email="ngModel">
      <p *ngIf="!email.valid && email.touched">Please Enter Your Email-Id</p>
    </div>
    <!-- <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button> -->
    <button type="submit" class="btn btn-primary">Submit</button>
</form>